<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="about-container">
    <h1>Немного о нас</h1>

    <div class="about-content">
        <p>Это пробное приложение, созданное с помощью Flask</p>

        <h2>Возможности приложения:</h2>
        <ul>
            <li>Добавление пользователей</li>
            <li>Просмотр списка всех пользователей</li>
            <li>REST API для работы с пользователями</li>
            <li>Высокая производительность благодаря Flask</li>
            <li>Встроенная защита от основных угроз</li>
            <li>Работает на всех устройствах</li>
        </ul>

        <h2>Контакты</h2>
        <p>Если вдруг у вас возникли какие-то проблемы или есть предложения, то обязательно свяжитесь с нами</p>
        <p>Email: 1132246668@pfur.ru</p>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>